body{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 17px;
	text-align: 1.5;
}

#open_btn {
	background: gray;
}

#background {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#div1 {
	background:#eeeeee;
	width: 70%;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}

span {
	color: white;
	padding-top: 12px;
	cursor: pointer;
	padding-right: 15px;
}

#div2 {
	background:#eeeeee;
	margin: auto;
	height: 300px;
	padding: 0 20px;
}

#close {
	padding: 5px;
	background: #1b6d85;
}

#close-button {
	float: right;
	font-size: 30px;
}

#foot {
	padding: 5px 0;
	text-align: center;
	background: #1b6d85;
	color: white;
}

h2 {
	margin: 10px 0;
	color: white;
	padding-left: 15px;
}

h3 {
	margin: 0 0px;
	padding-top: 15px;
}
